@font-face {
  font-family: "COCOGOOSE";
  src:
    url("fonts/COCOGOOSE.ttf.woff") format("woff"),
    url("fonts/COCOGOOSE.ttf.svg#COCOGOOSE") format("svg"),
    url("fonts/COCOGOOSE.ttf.eot"),
    url("fonts/COCOGOOSE.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
}

header {
  background-color: #272a31;
}

h1 {
  font-family: "COCOGOOSE", sans-serif;
  font-size: 2rem;
  color: #ec5242;
  margin: 0;
}

h2 {
  margin: 0;
  font-family: "COCOGOOSE", sans-serif;
  font-size: 1.7rem;
  color: #ec5242;
}

h3 {
  margin: 10px 0 0 0;
  font-family: "COCOGOOSE", sans-serif;
  font-weight: lighter;
  font-size: 1rem;
  color: #ec5242;
}

p {
  margin: 5px 0;
  font-family: "COCOGOOSE", sans-serif;
  font-size: 1rem;
}

li {
  list-style: none;
}

.desktop {
  display: none;
}

.mainNav {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
}

#home {
  color: #ec5242;
}

.bars-button:hover .nav-links {
  display: block;
}

.mainNav img {
  width: 50px;
  margin: 5px;
}

.bars-button {
  width: 50px;
  margin: 0 5px;
  font-size: 1rem;
  border: none;
  color: #d3d3d3;
  background-color: #fff;
  cursor: pointer;
}

.video-background {
  width: 100%;
  height: 60vh;
  margin: 0;
  padding: 0;
}

.video-background h1 {
  position: absolute;
  z-index: 10;
  margin: 10vh 20px 0 20px;
}

video {
  object-fit: cover;
  position: absolute;
}

.gradient {
  position: relative;
  display: block;
  width: 100%;
  height: 60vh;
  background: rgb(2, 0, 36);
  background: linear-gradient(0deg, rgba(39, 42, 49, 0.8) 0%, rgba(246, 246, 246, 0.9) 83%);
}

.cards-wrapper {
  width: 100%;
  background-color: #272a31;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='200' viewBox='0 0 200 200'%3E%3Cg %3E%3Cpolygon fill='%23121418' points='100 57.1 64 93.1 71.5 100.6 100 72.1'/%3E%3Cpolygon fill='%2316181d' points='100 57.1 100 72.1 128.6 100.6 136.1 93.1'/%3E%3Cpolygon fill='%23121418' points='100 163.2 100 178.2 170.7 107.5 170.8 92.4'/%3E%3Cpolygon fill='%2316181d' points='100 163.2 29.2 92.5 29.2 107.5 100 178.2'/%3E%3Cpath fill='%231a1c22' d='M100 21.8L29.2 92.5l70.7 70.7l70.7-70.7L100 21.8z M100 127.9L64.6 92.5L100 57.1l35.4 35.4L100 127.9z'/%3E%3Cpolygon fill='%231b1d24' points='0 157.1 0 172.1 28.6 200.6 36.1 193.1'/%3E%3Cpolygon fill='%2321242b' points='70.7 200 70.8 192.4 63.2 200'/%3E%3Cpolygon fill='%23272a33' points='27.8 200 63.2 200 70.7 192.5 0 121.8 0 157.2 35.3 192.5'/%3E%3Cpolygon fill='%2321242b' points='200 157.1 164 193.1 171.5 200.6 200 172.1'/%3E%3Cpolygon fill='%231b1d24' points='136.7 200 129.2 192.5 129.2 200'/%3E%3Cpolygon fill='%23272a33' points='172.1 200 164.6 192.5 200 157.1 200 157.2 200 121.8 200 121.8 129.2 192.5 136.7 200'/%3E%3Cpolygon fill='%231b1d24' points='129.2 0 129.2 7.5 200 78.2 200 63.2 136.7 0'/%3E%3Cpolygon fill='%23272a33' points='200 27.8 200 27.9 172.1 0 136.7 0 200 63.2 200 63.2'/%3E%3Cpolygon fill='%2321242b' points='63.2 0 0 63.2 0 78.2 70.7 7.5 70.7 0'/%3E%3Cpolygon fill='%23272a33' points='0 63.2 63.2 0 27.8 0 0 27.8'/%3E%3C/g%3E%3C/svg%3E");
}

.cards-container {
  width: 85%;
  margin: 0 auto 20px auto;
  display: flex;
  flex-direction: column;
}

.cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding: 10px;
  background: rgb(2, 0, 36);
  background: rgba(246, 246, 246, 0.336);
  border-radius: 5%;
}

.cards h2 {
  color: #ec5242;
}

.cards img {
  width: 100%;
  height: 30vh;
}

.worth {
  width: 90%;
  margin: 20px auto;
}

.worth-cardContainer {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 10px;
}

.worth-card img {
  width: 43vw;
  height: 25vh;
  border-radius: 10%;
  position: absolute;
}

.worth-gradient {
  width: 43vw;
  height: 25vh;
  border-radius: 10%;
  background: rgb(2, 0, 36);
  background: linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, rgba(0, 0, 0, 0) 80%);
  position: relative;
}

.sponsors {
  width: 95%;
  margin: 20px auto 0 auto;
}

.logos {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.logos img {
  max-width: 40px;
}

.sponsors-wrapper {
  width: 100%;
  background-color: #414246;
  padding: 40px 0;
}

footer {
  width: 100%;
  background-color: #f2f2f2;
}

footer p {
  width: 70%;
  margin: 0 auto;
  padding: 50px 0;
  text-align: center;
  color: #414246;
  font-size: 1rem;
}

footer a {
  text-decoration: none;
  color: #414246;
}

.about a {
  color: #272a31;
  text-align: center;
}

footer a:hover {
  text-decoration: underline;
}

/* about page */
.about {
  background-color: #f7f7f7;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1728' height='864' viewBox='0 0 1600 800'%3E%3Cpath fill='%23ee523c' d='M1102.5 734.8c2.5-1.2 24.8-8.6 25.6-7.5.5.7-3.9 23.8-4.6 24.5C1123.3 752.1 1107.5 739.5 1102.5 734.8zM1226.3 229.1c0-.1-4.9-9.4-7-14.2-.1-.3-.3-1.1-.4-1.6-.1-.4-.3-.7-.6-.9-.3-.2-.6-.1-.8.1l-13.1 12.3c0 0 0 0 0 0-.2.2-.3.5-.4.8 0 .3 0 .7.2 1 .1.1 1.4 2.5 2.1 3.6 2.4 3.7 6.5 12.1 6.5 12.2.2.3.4.5.7.6.3 0 .5-.1.7-.3 0 0 1.8-2.5 2.7-3.6 1.5-1.6 3-3.2 4.6-4.7 1.2-1.2 1.6-1.4 2.1-1.6.5-.3 1.1-.5 2.5-1.9C1226.5 230.4 1226.6 229.6 1226.3 229.1zM33 770.3C33 770.3 33 770.3 33 770.3c0-.7-.5-1.2-1.2-1.2-.1 0-.3 0-.4.1-1.6.2-14.3.1-22.2 0-.3 0-.6.1-.9.4-.2.2-.4.5-.4.9 0 .2 0 4.9.1 5.9l.4 13.6c0 .3.2.6.4.9.2.2.5.3.8.3 0 0 .1 0 .1 0 7.3-.7 14.7-.9 22-.6.3 0 .7-.1.9-.3.2-.2.4-.6.4-.9C32.9 783.3 32.9 776.2 33 770.3z'/%3E%3Cpath fill='%23272a31' d='M171.1 383.4c1.3-2.5 14.3-22 15.6-21.6.8.3 11.5 21.2 11.5 22.1C198.1 384.2 177.9 384 171.1 383.4zM596.4 711.8c-.1-.1-6.7-8.2-9.7-12.5-.2-.3-.5-1-.7-1.5-.2-.4-.4-.7-.7-.8-.3-.1-.6 0-.8.3L574 712c0 0 0 0 0 0-.2.2-.2.5-.2.9 0 .3.2.7.4.9.1.1 1.8 2.2 2.8 3.1 3.1 3.1 8.8 10.5 8.9 10.6.2.3.5.4.8.4.3 0 .5-.2.6-.5 0 0 1.2-2.8 2-4.1 1.1-1.9 2.3-3.7 3.5-5.5.9-1.4 1.3-1.7 1.7-2 .5-.4 1-.7 2.1-2.4C596.9 713.1 596.8 712.3 596.4 711.8zM727.5 179.9C727.5 179.9 727.5 179.9 727.5 179.9c.6.2 1.3-.2 1.4-.8 0-.1 0-.2 0-.4.2-1.4 2.8-12.6 4.5-19.5.1-.3 0-.6-.2-.8-.2-.3-.5-.4-.8-.5-.2 0-4.7-1.1-5.7-1.3l-13.4-2.7c-.3-.1-.7 0-.9.2-.2.2-.4.4-.5.6 0 0 0 .1 0 .1-.8 6.5-2.2 13.1-3.9 19.4-.1.3 0 .6.2.9.2.3.5.4.8.5C714.8 176.9 721.7 178.5 727.5 179.9zM728.5 178.1c-.1-.1-.2-.2-.4-.2C728.3 177.9 728.4 178 728.5 178.1z'/%3E%3Cg fill-opacity='0.94' fill='%23FFF'%3E%3Cpath d='M699.6 472.7c-1.5 0-2.8-.8-3.5-2.3-.8-1.9 0-4.2 1.9-5 3.7-1.6 6.8-4.7 8.4-8.5 1.6-3.8 1.7-8.1.2-11.9-.3-.9-.8-1.8-1.2-2.8-.8-1.7-1.8-3.7-2.3-5.9-.9-4.1-.2-8.6 2-12.8 1.7-3.1 4.1-6.1 7.6-9.1 1.6-1.4 4-1.2 5.3.4 1.4 1.6 1.2 4-.4 5.3-2.8 2.5-4.7 4.7-5.9 7-1.4 2.6-1.9 5.3-1.3 7.6.3 1.4 1 2.8 1.7 4.3.5 1.1 1 2.2 1.5 3.3 2.1 5.6 2 12-.3 17.6-2.3 5.5-6.8 10.1-12.3 12.5C700.6 472.6 700.1 472.7 699.6 472.7zM740.4 421.4c1.5-.2 3 .5 3.8 1.9 1.1 1.8.4 4.2-1.4 5.3-3.7 2.1-6.4 5.6-7.6 9.5-1.2 4-.8 8.4 1.1 12.1.4.9 1 1.7 1.6 2.7 1 1.7 2.2 3.5 3 5.7 1.4 4 1.2 8.7-.6 13.2-1.4 3.4-3.5 6.6-6.8 10.1-1.5 1.6-3.9 1.7-5.5.2-1.6-1.4-1.7-3.9-.2-5.4 2.6-2.8 4.3-5.3 5.3-7.7 1.1-2.8 1.3-5.6.5-7.9-.5-1.3-1.3-2.7-2.2-4.1-.6-1-1.3-2.1-1.9-3.2-2.8-5.4-3.4-11.9-1.7-17.8 1.8-5.9 5.8-11 11.2-14C739.4 421.6 739.9 421.4 740.4 421.4zM261.3 590.9c5.7 6.8 9 15.7 9.4 22.4.5 7.3-2.4 16.4-10.2 20.4-3 1.5-6.7 2.2-11.2 2.2-7.9-.1-12.9-2.9-15.4-8.4-2.1-4.7-2.3-11.4 1.8-15.9 3.2-3.5 7.8-4.1 11.2-1.6 1.2.9 1.5 2.7.6 3.9-.9 1.2-2.7 1.5-3.9.6-1.8-1.3-3.6.6-3.8.8-2.4 2.6-2.1 7-.8 9.9 1.5 3.4 4.7 5 10.4 5.1 3.6 0 6.4-.5 8.6-1.6 4.7-2.4 7.7-8.6 7.2-15-.5-7.3-5.3-18.2-13-23.9-4.2-3.1-8.5-4.1-12.9-3.1-3.1.7-6.2 2.4-9.7 5-6.6 5.1-11.7 11.8-14.2 19-2.7 7.7-2.1 15.8 1.9 23.9.7 1.4.1 3.1-1.3 3.7-1.4.7-3.1.1-3.7-1.3-4.6-9.4-5.4-19.2-2.2-28.2 2.9-8.2 8.6-15.9 16.1-21.6 4.1-3.1 8-5.1 11.8-6 6-1.4 12 0 17.5 4C257.6 586.9 259.6 588.8 261.3 590.9z'/%3E%3Ccircle cx='1013.7' cy='153.9' r='7.1'/%3E%3Ccircle cx='1024.3' cy='132.1' r='7.1'/%3E%3Ccircle cx='1037.3' cy='148.9' r='7.1'/%3E%3Cpath d='M1508.7 297.2c-4.8-5.4-9.7-10.8-14.8-16.2 5.6-5.6 11.1-11.5 15.6-18.2 1.2-1.7.7-4.1-1-5.2-1.7-1.2-4.1-.7-5.2 1-4.2 6.2-9.1 11.6-14.5 16.9-4.8-5-9.7-10-14.7-14.9-1.5-1.5-3.9-1.5-5.3 0-1.5 1.5-1.5 3.9 0 5.3 4.9 4.8 9.7 9.8 14.5 14.8-1.1 1.1-2.3 2.2-3.5 3.2-4.1 3.8-8.4 7.8-12.4 12-1.4 1.5-1.4 3.8 0 5.3 0 0 0 0 0 0 1.5 1.4 3.9 1.4 5.3-.1 3.9-4 8.1-7.9 12.1-11.7 1.2-1.1 2.3-2.2 3.5-3.3 4.9 5.3 9.8 10.6 14.6 15.9.1.1.1.1.2.2 1.4 1.4 3.7 1.5 5.2.2C1510 301.2 1510.1 298.8 1508.7 297.2zM327.6 248.6l-.4-2.6c-1.5-11.1-2.2-23.2-2.3-37 0-5.5 0-11.5.2-18.5 0-.7 0-1.5 0-2.3 0-5 0-11.2 3.9-13.5 2.2-1.3 5.1-1 8.5.9 5.7 3.1 13.2 8.7 17.5 14.9 5.5 7.8 7.3 16.9 5 25.7-3.2 12.3-15 31-30 32.1L327.6 248.6zM332.1 179.2c-.2 0-.3 0-.4.1-.1.1-.7.5-1.1 2.7-.3 1.9-.3 4.2-.3 6.3 0 .8 0 1.7 0 2.4-.2 6.9-.2 12.8-.2 18.3.1 12.5.7 23.5 2 33.7 11-2.7 20.4-18.1 23-27.8 1.9-7.2.4-14.8-4.2-21.3l0 0C347 188.1 340 183 335 180.3 333.6 179.5 332.6 179.2 332.1 179.2zM516.3 60.8c-.1 0-.2 0-.4-.1-2.4-.7-4-.9-6.7-.7-.7 0-1.3-.5-1.4-1.2 0-.7.5-1.3 1.2-1.4 3.1-.2 4.9 0 7.6.8.7.2 1.1.9.9 1.6C517.3 60.4 516.8 60.8 516.3 60.8zM506.1 70.5c-.5 0-1-.3-1.2-.8-.8-2.1-1.2-4.3-1.3-6.6 0-.7.5-1.3 1.2-1.3.7 0 1.3.5 1.3 1.2.1 2 .5 3.9 1.1 5.8.2.7-.1 1.4-.8 1.6C506.4 70.5 506.2 70.5 506.1 70.5zM494.1 64.4c-.4 0-.8-.2-1-.5-.4-.6-.3-1.4.2-1.8 1.8-1.4 3.7-2.6 5.8-3.6.6-.3 1.4 0 1.7.6.3.6 0 1.4-.6 1.7-1.9.9-3.7 2-5.3 3.3C494.7 64.3 494.4 64.4 494.1 64.4zM500.5 55.3c-.5 0-.9-.3-1.2-.7-.5-1-1.2-1.9-2.4-3.4-.3-.4-.7-.9-1.1-1.4-.4-.6-.3-1.4.2-1.8.6-.4 1.4-.3 1.8.2.4.5.8 1 1.1 1.4 1.3 1.6 2.1 2.6 2.7 3.9.3.6 0 1.4-.6 1.7C500.9 55.3 500.7 55.3 500.5 55.3zM506.7 55c-.3 0-.5-.1-.8-.2-.6-.4-.7-1.2-.3-1.8 1.2-1.7 2.3-3.4 3.3-5.2.3-.6 1.1-.9 1.7-.5.6.3.9 1.1.5 1.7-1 1.9-2.2 3.8-3.5 5.6C507.4 54.8 507.1 55 506.7 55zM1029.3 382.8c-.1 0-.2 0-.4-.1-2.4-.7-4-.9-6.7-.7-.7 0-1.3-.5-1.4-1.2 0-.7.5-1.3 1.2-1.4 3.1-.2 4.9 0 7.6.8.7.2 1.1.9.9 1.6C1030.3 382.4 1029.8 382.8 1029.3 382.8zM1019.1 392.5c-.5 0-1-.3-1.2-.8-.8-2.1-1.2-4.3-1.3-6.6 0-.7.5-1.3 1.2-1.3.7 0 1.3.5 1.3 1.2.1 2 .5 3.9 1.1 5.8.2.7-.1 1.4-.8 1.6C1019.4 392.5 1019.2 392.5 1019.1 392.5zM1007.1 386.4c-.4 0-.8-.2-1-.5-.4-.6-.3-1.4.2-1.8 1.8-1.4 3.7-2.6 5.8-3.6.6-.3 1.4 0 1.7.6.3.6 0 1.4-.6 1.7-1.9.9-3.7 2-5.3 3.3C1007.7 386.3 1007.4 386.4 1007.1 386.4zM1013.5 377.3c-.5 0-.9-.3-1.2-.7-.5-1-1.2-1.9-2.4-3.4-.3-.4-.7-.9-1.1-1.4-.4-.6-.3-1.4.2-1.8.6-.4 1.4-.3 1.8.2.4.5.8 1 1.1 1.4 1.3 1.6 2.1 2.6 2.7 3.9.3.6 0 1.4-.6 1.7C1013.9 377.3 1013.7 377.3 1013.5 377.3zM1019.7 377c-.3 0-.5-.1-.8-.2-.6-.4-.7-1.2-.3-1.8 1.2-1.7 2.3-3.4 3.3-5.2.3-.6 1.1-.9 1.7-.5.6.3.9 1.1.5 1.7-1 1.9-2.2 3.8-3.5 5.6C1020.4 376.8 1020.1 377 1019.7 377zM1329.7 573.4c-1.4 0-2.9-.2-4.5-.7-8.4-2.7-16.6-12.7-18.7-20-.4-1.4-.7-2.9-.9-4.4-8.1 3.3-15.5 10.6-15.4 21 0 1.5-1.2 2.7-2.7 2.8 0 0 0 0 0 0-1.5 0-2.7-1.2-2.7-2.7-.1-6.7 2.4-12.9 7-18 3.6-4 8.4-7.1 13.7-8.8.5-6.5 3.1-12.9 7.4-17.4 7-7.4 18.2-8.9 27.3-10.1l.7-.1c1.5-.2 2.9.9 3.1 2.3.2 1.5-.9 2.9-2.3 3.1l-.7.1c-8.6 1.2-18.4 2.5-24 8.4-3 3.2-5 7.7-5.7 12.4 7.9-1 17.7 1.3 24.3 5.7 4.3 2.9 7.1 7.8 7.2 12.7.2 4.3-1.7 8.3-5.2 11.1C1335.2 572.4 1332.6 573.4 1329.7 573.4zM1311 546.7c.1 1.5.4 3 .8 4.4 1.7 5.8 8.7 14.2 15.1 16.3 2.8.9 5.1.5 7.2-1.1 2.7-2.1 3.2-4.8 3.1-6.6-.1-3.2-2-6.4-4.8-8.3C1326.7 547.5 1317.7 545.6 1311 546.7z'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
}

.about h1 {
  text-align: center;
  padding: 50px;
}

.about p {
  width: 80%;
  margin: 0 auto;
  background-color: white;
  padding: 20px;
  text-align: center;
}

.about h3 {
  color: #272a31;
  text-align: center;
  padding: 20px;
}

.logo {
  border-bottom: 2px solid #ececec;
}

.logo h3 {
  text-align: center;
  padding: 30px;
}

.logo p {
  text-align: center;
  width: 60%;
  margin: 0 auto;
}

.about-logo {
  display: block;
  margin: 0 auto;
}

.past h3 {
  text-align: center;
  padding: 50px;
}

.past p {
  text-align: center;
}

.past-container {
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.past-item {
  width: 100%;
  height: 25vh;
  margin: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.item1 {
  background-image: url("../images/past1.jpg");
}

.item2 {
  background-image: url("../images/past2.jpg");
}

.past-item p {
  width: 40%;
  position: absolute;
  z-index: 3;
  margin: 40px auto;
  font-size: 3rem;
  color: #ececec;
}

.past-gradient {
  width: 100%;
  height: 25vh;
  background-color: #ec53428c;
  display: block;
}

/* tickets page */
.tickets {
  padding: 50px 0;
  background-color: #fcfcfc;
}

.tickets h2 {
  text-align: center;
}

.steps span {
  color: #ec5242;
}

.steps {
  padding: 10px;
  width: 80%;
  margin: 0 auto;
  border: 1px solid #e3e3e3;
  border-radius: 17px;
  text-align: center;
}

.tickets-table {
  display: table;
  width: 95%;
  margin: 30px auto;
  border: 10px dashed #ec5242;
}

.gifts h2 {
  text-align: center;
  margin: 50px auto;
}

td {
  border: 1px solid black;
  padding: 10px;
}

th {
  border: 1px solid black;
  padding: 10px;
  background-color: #d4d4d4;
}

.gift {
  display: table;
  width: 95%;
  margin: 80px auto;
  border: 10px dashed #ec5242;
}

.gift td {
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .mobile {
    display: none;
  }

  .desktop {
    display: block;
  }

  h1 {
    font-size: 3rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  .top-nav {
    height: 40px;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 20px 0;
    text-decoration: none;
  }

  .top-nav a {
    text-decoration: none;
    color: #f6f6f6;
    font-size: 1.5rem;
    margin: 0 10px;
    padding: 0 20px;
    font-family: "COCOGOOSE", sans-serif;
  }

  .nav-links a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #d3d3d3;
    font-family: "COCOGOOSE", sans-serif;
  }

  .top-nav a:hover {
    font-size: 2rem;
  }

  .mainNav img {
    flex-grow: 1;
    max-width: 100px;
  }

  .nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    flex-grow: 2;
    margin: 0 10vw;
  }

  .nav-links a:hover {
    text-decoration: underline;
    color: #ec5242;
  }

  .video-background h1 {
    margin: 20vh 20px 0 20px;
  }

  .featured-title {
    width: 60%;
    margin: 0 auto;
  }

  .featured-title h2 {
    text-align: center;
    padding-top: 30px;
  }

  .cards-container {
    width: 60%;
    flex-direction: row;
  }

  .cards {
    margin: 30px 10px 20px 10px;
  }

  .cards img {
    height: 25vh;
  }

  .worth {
    width: 80%;
  }

  .worth-cardContainer {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .worth-card img {
    width: 20vw;
    height: 35vh;
  }

  .worth-gradient {
    width: 20vw;
    height: 35vh;
    z-index: 10;
  }

  .worth-gradient:hover {
    background: linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, rgba(0, 0, 0, 0) 0%);
  }

  .sponsors {
    width: 60%;
  }

  .logos {
    width: 80%;
    margin: 20px auto;
  }

  /* about page */

  .about p {
    width: 50%;
    margin: 0 auto;
    padding: 30px;
  }

  .about h3 {
    padding: 50px;
  }

  .past-container {
    width: 65%;
  }

  .past-item {
    height: 30vh;
  }

  .past-gradient {
    height: 30vh;
  }

  .past-item p {
    width: 40%;
    position: absolute;
    z-index: 3;
    margin: 20px auto;
    font-size: 5rem;
    color: #ececec;
  }

  /* tickets page */

  .steps {
    width: 40%;
  }

  .tickets-table {
    width: 65%;
  }

  .gift {
    width: 65%;
  }
}
